@CHARSET "ISO-8859-1";

#container {
	margin: 10px;
}

#header {
	padding: 10px; position : relative;
	text-align: center;
	background: #afd1ed;
	position: relative;
}

#nav {
	background: #aaafff;
	text-align: left;
	padding: 10px;
}

#bodyContent {
	display: inline-block;
	background-colour: white;
	padding: 10px;
}

#leftPart {
	display: inline;
	float: left;
	width: 20%;
	border-radius: 15px;
}

#leftNav {
	background-colour: white;
	width: 90%;
	text-align: center;
	border: 1px solid #cce6fc;
	border-radius: 25px;
}

#leftNav ul li.menuHead {
	font-weight: bold;
	background: #cce6fc;
	text-align: center;
	border-radius: 15px;
	height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

#leftNav .textBlock {
	background-color: #cce6fc;
	text-align: center;
	border-radius: 15px;
}

#inner {
	display: inline;
	padding: 10px;
	text-align: justify;;
	width
	=50%;
}

#inner .img {
	display: block;
}

#p {
	text-decoration:40px;
	text-align: left;
}

#rightPart {
	display: block;
	float: left;
	width: 25%%;
	border-radius: 15px;
	padding: 10px;
}

}
#rightPart .rightNav {
	padding: 10px;
	background-color: #b1bec7;
	border-radius: 10px;
	margin: 10px;
text-align: justify;
}
}
