*{
	margin:0;
	padding:0;
	font-family:verdana;
}

body{
	text-align:center;
	background-color:gray;
	padding:20%;
}
button{
	border-radius:20px;
	width:20%;
	padding-top:2%;
	padding-bottom:2%;
	background-color: green;
	color: black;
	font-weight:bold;
}